        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body { 
            font-family: Arial, Helvetica, sans-serif; 
            height: 100vh;
            margin: 0;
            overflow: hidden; 
        }
        
        
        .video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }
        
        
        .container { 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px; 
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 10px; 
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            width: 500px;
            z-index: 10;
        }
        
        
        .form-title {text-align: center;}
        
        .form-title h2 {color:#fff; text-transform: uppercase;}
        
        
        form {display: flex; flex-direction: column;}
        
        label {font-weight: bold; color: #fff;}
        
        input, select, textarea {padding: 10px; margin-bottom: 20px; border: 1px solid #ddd; border-radius: 5px;}
        
        .radio-container {margin-bottom: 20px;}
        .radio-container label, .checkbox-container label {font-weight: normal; display: inline-block; margin-right: 20px;}
        .checkbox-container {margin-bottom: 20px;}
        
        .button-container {margin-top: 15px; text-align: center;}
        button {padding: 10px 25px; background-color: #4CAF50; color: #fff; border: none; border-radius: 5px; cursor: pointer;}
        
        .error {
            color: #ff0000;
            font-size: 12px;
            margin-bottom: 10px;
        }